
html,body{
	height:100%;
	width:100%;
	background-color: #C5EFF7;
}
body{
	margin: 0 0 0 0;
	padding:0 0 0 0;
	/*overflow: hidden;*/
}
.main { 
	width:100%;
  	float: left;
    margin-right: -200px;
    /*overflow: hidden;*/
    height: 100%;
} 


.Left {
	width:15%;
	float:left;
	background-color: #54C8FF;
	position: fixed;
}

.Right {
	width: 85%;
	float: right;
	background-color: white;
}

.content
{
	width: 	1300px;
	margin-left: 	205px;	
	background-color: white;
	margin-top: 	-326px;
	
}

.menuitems {
	margin-left: -25px;
}

.login {	
	 
	 width: 250px;
	 float:right;
	 margin-left: 280px; 	
	 display: inline-block;
	 position: fixed;
 		
}

.register {
	display: inline-block;	
	margin-left:30px;
	position: fixed;
}

.p{
	color: black;
}

